################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudyRoomBooking/obj
/.vs
/StudyRoomBooking/.vs/StudyRoomBooking
/StudyRoomBooking/bin/Debug/net6.0
/StudyRoomBooking.Core/bin/Debug/netstandard2.0
/StudyRoomBooking.Core/obj
/StudyRoomBooking.DataAccess/bin/Debug/netstandard2.0
/StudyRoomBooking.DataAccess/obj
/StudyRoomBooking.Models/bin/Debug/netstandard2.0
/StudyRoomBooking.Models/obj
/StudyRoomBooking/.vs/ProjectEvaluation
/StudyRoomBooking.Core/bin/Debug
/StudyRoomBooking.DataAccess/bin/Debug/net6.0
/StudyRoomBooking.Models/bin/Debug
/StudyRoomBooking.Core.Fixtures/bin/Debug/net6.0
/StudyRoomBooking.Core.Fixtures/obj
/StudyRoomBooking.DataAccess.Fixtures/bin/Debug/net6.0
/StudyRoomBooking.DataAccess.Fixtures/obj
/StudyRoomBooking.Fixtures.Test/bin/Debug
/StudyRoomBooking.Fixtures.Test/obj
/ClientApp/.vscode
/StudyRoomBooking/StudyRoomBooking.csproj.user
/StudyRoomBooking/StudyRoomBooking.csproj.user
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/CoverletSourceRootsMapping
/StudyRoomBooking.Fixtures/obj/Debug/net6.0/StudyRoomBooking.Fixtures.GeneratedMSBuildEditorConfig.editorconfig
/StudyRoomBooking.Fixtures/obj/Debug/net6.0/StudyRoomBooking.Fixtures.csproj.AssemblyReference.cache
/StudyRoomBooking.Fixtures/obj/Debug/net6.0/StudyRoomBooking.Fixtures.assets.cache
/StudyRoomBooking.Fixtures/obj/StudyRoomBooking.Fixtures.csproj.nuget.g.props
/StudyRoomBooking.Fixtures/obj/StudyRoomBooking.Fixtures.csproj.nuget.dgspec.json
/StudyRoomBooking.Fixtures/obj/project.nuget.cache
/StudyRoomBooking.Fixtures/obj/project.assets.json
/StudyRoomBooking.Fixtures/obj/Debug/net6.0/StudyRoomBooking.Fixtures.pdb
/StudyRoomBooking.Fixtures/obj/Debug/net6.0/StudyRoomBooking.Fixtures.genruntimeconfig.cache
/StudyRoomBooking.Fixtures/obj/Debug/net6.0/StudyRoomBooking.Fixtures.dll
/StudyRoomBooking.Fixtures/obj/Debug/net6.0/StudyRoomBooking.Fixtures.csproj.FileListAbsolute.txt
/StudyRoomBooking.Fixtures/obj/Debug/net6.0/StudyRoomBooking.Fixtures.csproj.CoreCompileInputs.cache
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.pdb
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.Models.pdb
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.Models.dll
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.Fixtures.pdb
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.Fixtures.dll
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.Fixtures.deps.json
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.exe
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.dll
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.deps.json
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.DataAccess.pdb
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.DataAccess.dll
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.Core.pdb
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/StudyRoomBooking.Core.dll
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/nunit_random_seed.tmp
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/StudyRoomBooking.Fixtures/bin/Debug/net6.0/appsettings.json
/StudyRoomBooking.Fixtures/bin/Debug/net6.0
/StudyRoomBooking.Fixtures/obj
/StudyRoomBooking/appsettings.json
/StudyRoomBooking.DataAccess/Migrations
